
pre {
  display: block;
  font-family: monospace;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
}

.listingblock > .content > pre {
  padding: 2px;
  color: #fff;
  background-color: #333;
  border: 1px solid #888;
}

.literalblock > .content > pre {
  padding: 9.5px;
  margin: 0 0 10px;
  color: #333;
  font-size: 13px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}



table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
    border-collapse: collapse !important;
    border-color: #dee2e6;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

